TOKEN: YOUR_DISCORD_BOT_TOKEN_HERE
ID_CHANNEL: YOUR_CHANNEL_ID
ID_CHANNEL1: YOUR_CHANNEL1_ID
ID_MESSAGE: YOUR_MESSAGE_ID
ID_VOICECHANNEL: YOUR_VOICE_CHANNEL_ID
OPENAI_API_KEY: YOUR_OPENAI_API_KEY_HERE
GEMINI_API_KEY: YOUR_GEMINI_API_KEY_HERE
DEEPSEEK_API_KEY: YOUR_DEEPSEEK_API_KEY_HERE
WOLFRAM_APPID: YOUR_WOLFRAM_APP_ID
WOLFRAM_PATH: C:/Program Files/Wolfram Research/Wolfram Engine/13.2/WolframKernel.exe
